/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    /*===== Colors =====*/
    --background: #000000;
    --first-color: #f700ff;
    --sec-color: #7700ff;
    --text-color: #ffffff;
    /*===== Font and typography =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 4rem;
    --normal-font-size: 1rem;
    /*===== z index =====*/
    --z-fixed: 100;
}

@media screen and (min-width: 1080px) {
     :root {
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
    }
}


/*===== BASE =====*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

body::-webkit-scrollbar {
    width: 12px;
    border-radius: 50%;
}

body::-webkit-scrollbar-track {
    background: var(--background);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: 10px;
}

h1,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*===== LAYOUT =====*/

.bd-grid {
    max-width: 1080px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--background);
}


/*===== NAV =====*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background: rgba(255, 255, 255, .3);
        backdrop-filter: blur(10px);
        transition: .5s;
    }
}

.nav__close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__item {
    margin-bottom: 2rem;
}

.nav__close,
.nav__link,
.nav__logo,
.nav__toggle {
    color: var(--text-color);
}

.active {
    color: var(--first-color);
}

.nav__link:hover {
    color: var(--sec-color);
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
}


/*=== Show menu ===*/

.show {
    right: 0;
}


/*===== HOME =====*/

.home {
    background-color: var(--background);
    overflow: hidden;
}

.home__container {
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    row-gap: 1.5rem;
}

.home__img {
    position: relative;
    padding-top: 1.5rem;
    justify-self: center;
    width: 302px;
    height: 233px;
}

.home__img img {
    position: absolute;
    top: 0;
    left: -1rem;
}

.home__data {
    color: var(--text-color);
}

.home__title {
    font-size: var(--big-font-size);
    line-height: 1.2;
    margin-bottom: 1rem;
}

.home__description {
    margin-bottom: 2.5rem;
}

.home__button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--text-color);
    padding: 1.125rem 2rem;
    border-radius: .5rem;
}

.home__button:hover {
    background-color: var(--sec-color);
}


/* ===== Product =====*/

.product {
    background: #B0BFD1;
    margin: 0;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Poppins';
}

.product h1 {
    -webkit-transform: translateX(-90px);
    transform: translateX(-90px);
    font-size: 2.4rem;
    white-space: nowrap;
    margin-top: 0;
    -webkit-transition: -webkit-transform .7s;
    transition: -webkit-transform .7s;
    transition: transform .7s;
    transition: transform .7s, -webkit-transform .7s;
}

.product img {
    width: 100%;
}

.product .my-atropos {
    width: 320px;
    background: white url("https://assets.codepen.io/2621168/img_1.jpg") no-repeat 100% -300px;
}

.product .atropos-scale,
.product .atropos-rotate,
.product .atropos-inner,
.product .container {
    overflow: visible;
    position: relative;
}

.product .container {
    padding: 2em;
    position: relative;
    z-index: 1;
}

.product .container:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border: 1px solid black;
    margin-left: -4em;
    margin-top: -4em;
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    -webkit-transition: -webkit-clip-path .3s;
    transition: -webkit-clip-path .3s;
    transition: clip-path .3s;
    transition: clip-path .3s, -webkit-clip-path .3s;
}

.product .add-border.container:before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.product footer {
    margin-top: 5em;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.product footer a {
    text-decoration: none;
    background: #DAE3EE;
    font-weight: bold;
    color: #2B3F56;
    display: inline-block;
    text-align: center;
    padding: .5em 1em;
    border-radius: .3em;
}

.product footer svg {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    margin-right: .2em;
}

.product footer .date {
    color: #47586C;
    font-size: .8rem;
    text-align: right;
}


/* ===== About =====*/


/* ===== Products =====*/


/* ===== Customers =====*/


/* ===== Footer =====*/

.about,
.products,
.customers,
.footer {
    display: none;
}


/* ===== MEDIA QUERIES =====*/

@media screen and (min-width: 600px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-left: 3rem;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 800px) {
    body {
        margin: 0;
    }
    .home__container {
        height: 100vh;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: 1fr;
        row-gap: 0;
        align-items: center;
        justify-content: center;
    }
    .home__img {
        order: 1;
        width: 375px;
        height: 289px;
    }
    .home__img img {
        width: 375px;
    }
}

@media screen and (min-width: 1080px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .home__container {
        justify-content: initial;
        column-gap: 4.5rem;
    }
    .home__img {
        width: 604px;
        height: 466px;
    }
    .home__img img {
        width: 604px;
    }
}